@import '~@/styles/variables';

.card {
    .el-card {
        width: 49%;
        border: none;
    }

    .image-container {
        height: 320px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .rate {
            width: 27%;
            height: 13%;
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: white;
            border-top-left-radius: 8px;

            .el-rate {
                margin-left: 3px;
            }
            
            .description {
                margin: 3px;
                position: absolute;
                bottom: 0;

                p {
                    color: $dark-mint;
                }
            }

        }
    }

    .title {
        margin-top: 12px;
        margin-bottom: 16px;

        h1 {
            font-family: SourceSansPro;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #000000;
        }
    }

    .address {
        display: flex;

        i {
            margin-right: 8px;
        }

        p {
            width: 70%;
            text-align: left;
        }
    }
}