@import '~@/styles/variables';

.el-button {
  width: 125px;
  border-radius: 8px;
  background-color: $dark-mint;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;

}