.button {
  width: 125px;
  height: 40px;
  border-radius: 8px;
  background-color: #2ED573;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: white;
}
