$black: #262626;
$warm-grey: #999999;
$orange-red: #FF3B30;
$bright-blue: #007AFF;
$teal-blue: #4EBBEC;
$green: #3AAF4E;
$sunrise: #FF9500;
$sunflower-yellow: #FFCC00;
$lightish-green: #4CD964;
$sky-blue: #5AC8FA;
$dark-periwinkle: #5856D6;
$pale-grey: #E5E5EA;
$snow: #FAFAFA;
$reddish-pink: #FF2D55;
$dark-mint: #30c1b3;
$white: #FFFFFF;
$dark-mint: #30c1b3;

$primary-alert: #FFDCE3;
$danger-alert: #FFC5C2;
$success-alert: #C1FFCB;
$secondary-alert: #FFFFFF;
$warning-alert: #FFE3BB;
$teal-alert: #CFF0FF;


$font-text: "Core Sans C", system-ui;

$font-size-large: 1.1875rem;
$font-size-regular: 1rem;
$font-size-small: 0.75rem;

$font-weight-extrabold: 800;
$font-weight-bold : 700;
$font-weight-semibold: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$line-height: 1.25;
$letter-spacing: -0.2px;
$letter-spacing-bold: -0.5px;
