@import '~@/styles/variables';
@import '~@/styles/mixins';

.child {
    margin: 5% 20%;

    &__header {
        margin-bottom: 40px;
    }

    &__form {
        display: flex;
        margin-bottom: 40px;

        &__left,
        &__right {
            width: 50%;


            .el-input,
            .wrap {

                p {
                    display: flex;
                }

                i {
                    background-color: $primary;
                    border-radius: 50%;
                    color: $white;
                    width: 14px;
                    height: 14px;
                    // padding: 4px;
                    font-size: 10px;
                    margin-left: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .title {
                    margin-bottom: 8px;
                }

                width: 90%;
                margin-bottom: 16px;
            }
        }
    }

    &__footer {
        display: flex;

        button {
            margin-right: 16px;
        }
    }
}