@import '~@/styles/variables';
@import '~@/styles/mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 8px 5%;
  background-color: $primary;

  &__left {
    width: 30%;

    img {
      width: 76px;
    }
  }

  &__center {
    width: 40%;
    text-align: center;
  }

  &__right {
    width: 30%;

    .el-menu-header {
      display: flex;
      justify-content: flex-end;
      border-bottom: none;
      height: 56px;
      background-color: $primary;

      .el-menu-item-custom {
        height: 56px;
        color: $white;
      }
    }
  }
}