@import '~@/styles/variables';
@import '~@/styles/mixins';

.home {

  &__intro {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    position: relative;

    &__search{
      width: 88%;
      z-index: 1;

      &__title {
        margin-bottom: 56px;
        text-align: center;

        .title {
          margin-bottom: 8px;
        }

        .description {
          color: $black;
          font-weight: 100;
        }
      }
      &__description {
        margin-top: 24px;
      }

      &__input {
        .search {
          display: flex;
          align-items: center;
          border-radius: 4px;
          height: 80px;
          padding: 24px 0;
          box-shadow: 0 2px 5px 0 rgba(155, 155, 155, 0.5);
          background-color: #ffffff;

          .el-icon-search {
            padding: 20px;
            display: flex;
            width: unset;
            height: unset;
            line-height: unset;
            font-size: 23px;
          }

          input {
            background-color: transparent;
            font-size: 24px;
            display: flex;
          }
        }
      }
    }
  }

  &__featured {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    
    padding: 0 5%;

    &__footer {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }

  &__sponsored {
    margin: 0 5%;
    height: 400px;
    background-image: url('/img/bg2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;

    &__caption {
      position: absolute;
      bottom: 100px;
      left: 40px;
      right: 40px;

      .title, .description {
        margin-bottom: 8px;
      }
    }

  }
}